.view-more {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 2rem;
}

.credentials {
  display: flex;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 60rem;
  gap: 4rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 2rem;
}
.left .right {
  display: flex;
  flex-direction: column;
}
.ratings-list {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 60rem;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.rating {
  display: flex;
  justify-content: space-between;
}
.left button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #512da8;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.left button:hover {
  background-color: #5c6bc0;
}
.star-rating {
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  color: #ccc;
}

.star {
  transition: color 0.2s;
}

.star.filled {
  color: #ff9800;
}
