/* rightbar.css */
.rightbar {
  display: flex;
  flex-direction: column;
  position: sticky;

  top: 60px;
  right: 0;
  width: 280px;
  min-width: 280px;
  padding: 20px;

  overflow-y: auto;
  flex-shrink: 0;
  position: sticky;
}
/* .rightbar {
  width: 280px;
  min-width: 280px;
  flex-shrink: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 60px;
  right: 0;
} */
.rightbar::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.suggested-users {
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
