.leftbar {
  width: 280px;
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  z-index: 0;
  margin-top: 400px;
}

.retract-button {
  cursor: pointer;
}

.retract-icon {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #000;
  margin: 4px 0;
}

.leftbar .MuiListItemIcon-root {
  min-width: 40px;
}
.brand {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-self: center;
  margin-bottom: 0;
}
.nothing{
  margin-bottom: 50px;
}
